*{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;

    
}
.title h1{
    font-size: 100px;
    color: #234981;
}

/* Start Nav  */
.nav_logo{
   margin-left: 10px;
   margin-top: -30px;
   width:  200px;
   height: 200px; 
   
   
}

.nav_item{
    float: right;
    
}

.nav_item li{
    display: inline-block;
    margin-top: 60px;
    margin-right: 100px;

}

.nav_item li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.nav_item li a:hover{
    color: blue;
    /* text-decoration: underline; */
}

.get_start{
    background-color: blue;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid blue;
    
}
.get_start:hover{
    background-color: white;
    color: blue !important;
    border: 1px solid blue;
    
}
/* End Nav  */

/* Start Product Request  */

.request_main{
    margin-top: 30px;
}

.request_middle{
    display: grid;
    grid-template-columns: auto;
    padding: 0px 300px;
    
    
       
}
.request_middle h1{
    font-size: 30px;
}

label[for="email"]:hover{
    font-size: 20px;
    color: white;
    transform: scale(0.9);
    transition-duration: .8s;
    
}



input[type="text"]{
    width: 250px;
    height: 25px;
    padding: 0px 10px;
    background-color: #234981;

}

label[for="phone"]:hover{
    font-size: 20px;
    color: white;
    transform: scale(0.9);
    transition-duration: .8s;
}



input[type="number"]{
    width: 250px;
    height: 25px;
    padding: 0px 10px;
    background-color: #234981;
}

input[placeholder="example@gmail.com"]{
    font-style: italic;
    font-size: 20px;
}

input[placeholder="09"]{
     font-style: italic;
    font-size: 20px;
}

.request_middle h2{
    padding: 10px 0px;
    text-align: center;
}

.checkbox_position{
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}

.software{
    padding-right: 50px;
    
}

textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    margin-top: 10px;
}

textarea[placeholder="What Do U Need?"]{
    font-size: 20px;
}

.checkbox_position button{
    border: 1px solid black;
    background-color: blue;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 50px;
    margin: 10px 80px;
}

.checkbox_position button:hover{
    background-color: white;
    color: blue !important;
    border: 1px solid blue;
}

/* End Product Request  */
    


/* Start Footer  */

.footer{
   
    padding: 20px 40px;
    
}

.footer_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;         /* responsive wrap */
  max-width: 1200px;
  margin: auto;
  /* border: 1px solid #234981; */
  padding: 20px 20px;
}

.footer_left h3{
  margin: 0 0 5px 0;
  /* color: #fff; */
}

.footer_left p{
  margin: 0;
  font-size: 14px;
  color: #aaa;
}

.footer_right a{
  color: #4da6ff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}

.footer-right a:hover{
  text-decoration: underline;
}

/* End Footer  */





