*{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;

    
}
.title h1{
    font-size: 100px;
    color: #234981;
}

/* Start Nav  */
.nav_logo{
   margin-left: 10px;
   margin-top: -30px;
   width:  200px;
   height: 200px; 
   
   
}

.nav_item{
    float: right;
    
}

.nav_item li{
    display: inline-block;
    margin-top: 60px;
    margin-right: 100px;

}

.nav_item li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.nav_item li a:hover{
    color: blue;
    /* text-decoration: underline; */
}

.get_start{
    background-color: blue;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid blue;
    
}
.get_start:hover{
    background-color: white;
    color: blue !important;
    border: 1px solid blue;
    
}
/* End Nav  */

/* Start Proof  */

.proof_main{
    margin-top: 30px;
    
}

.proof_middle{
    
    border: 5px solid white;
    border-radius: 50px;
    padding: 0px 500px;
   
    
    
}

.proof_middle h1{
    font-size: 30px;
    text-align: center;
    padding: 20px 0px;
}

.proof_middle p{
    font-size: 20px;
    padding: 0px 30px;
    margin-bottom: 20px;
}

.icon_item{
    margin-bottom: 20px;
    text-align: center;

}

textarea {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.proof_middle button{
    border: 1px solid black;
    background-color: blue;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 50px;
    margin: 10px 80px;
}

.proof_middle button:hover{
     background-color: white;
    color: blue !important;
    border: 1px solid blue;
}
Note margin ရွေ.တဲ.အခါ Hover မလုပ်ခင်ရွေ.ပါ

/* End Proof  */

/* Start Footer  */

.footer{
   
    padding: 20px 40px;
    
}

.footer_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;         /* responsive wrap */
  max-width: 1200px;
  margin: auto;
  /* border: 1px solid #234981; */
  padding: 20px 20px;
}

.footer_left h3{
  margin: 0 0 5px 0;
  /* color: #fff; */
}

.footer_left p{
  margin: 0;
  font-size: 14px;
  color: #aaa;
}

.footer_right a{
  color: #4da6ff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}

.footer-right a:hover{
  text-decoration: underline;
}

/* End Footer  */





