*{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;

    
}
.title h1{
    font-size: 100px;
    color: #234981;
}

/* Start Nav  */
.nav_logo{
   margin-left: 10px;
   margin-top: -30px;
   width:  200px;
   height: 200px; 
   
   
}

.nav_item{
    float: right;
    
}

.nav_item li{
    display: inline-block;
    margin-top: 60px;
    margin-right: 100px;

}

.nav_item li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.nav_item li a:hover{
    color: blue;
    /* text-decoration: underline; */
}

.get_start{
    background-color: blue;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid blue;
    
}
.get_start:hover{
    background-color: white;
    color: blue !important;
    border: 1px solid blue;
    
}
/* End Nav  */

/* Start Bunner  */
.bunner_image{
    width: 100%;
}

.bunner{
    position: relative;
}

.bunner_text{
    position: absolute;
    color: white;
    top: 80%;
    left: 80%;
    font-size: 10px;
    
    
}

.bunner_text h1{
    font-size: 30px;
    text-align: center;
    
}

.bunner_text p{
    font-size: 20px;

}

.bunner_text a{
    border: 1px solid blue;
    background-color: blue;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 10px;
    display: inline-block;
   margin-top: 2px;
   margin-left: 80px;

}

.bunner_text a:hover{
    border: 1px solid white;
    background-color: white;
    color: blue;
}
/* End Bunner  */

/* Start Popular Item  */
.popular{
    color: white;
    width: 80%;
    margin: auto;
    margin-top: 80px;
    text-align: center;
}

.popular_cart{
    display: grid;
    grid-template-columns: 440px 440px 440px;
    margin-top: 20px;
    grid-gap: 30px;

}

.popular_cart img{
    width: 50%;
    padding-left: 100px;                              
    
    
}

.popular_item{
    border: 1px solid #234981;
    border-radius: 5px;
    /* padding-left: 50px; */
 }
 

 .popular_item h1{
    color: white;
    font-size: 20px;
    padding: 1px 15px;
 }

 .popular_item p{
    padding: 10px 15px;
    color: white;

 }
 
 .popular_item button{
    padding: 15px ;
    float: right;
    background-color: blue;
    color: #FFFFFF;
    border: 1px solid #234981;
    border-radius: 5px;
    margin-bottom: 10px;
}

.popular_item button:hover{
    border: 1px solid white;
    background-color: white;
    color: blue;
}

.popular_item img:hover{
    transform: scale(1.2);
    transition-duration: .8s;
}    

.popular_hover{
overflow: hidden;
}

/* End Popular Item  */

/* Start About */

/* .float_left img{
    width: 40%;
    border: 2px solid white;
    float: left;
    margin-right: 10px;
    
}
.float_left p{
    color: white;
    
}

.about_us{
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
.about h1{
    color: white;
    text-align: center;
    margin-top: 40px;
} */

/* End About  */

/* Start Poduct item  */

.product{
    margin-top: 80px;
   
    
}

.product_cart{
    display: grid;
    grid-template-columns: 440px 440px 440px;
    margin-top: 20px;
    grid-gap: 30px;
    

}

.product_cart img{
    width: 50%;
    padding-left: 100px;
                           
      
}

.product_item{
    border: 1px solid #234981;
    border-radius: 5px;
    /* padding-left: 50px; */
 }

 .product_item h1{
    color: white;
    font-size: 20px;
    padding: 1px 10px;
 }

 .product_item p{
    padding: 10px 15px;
    color: white;

 }
 
 .product_item button{
    padding: 15px ;
    float: right;
    background-color: blue;
    color: #FFFFFF;
    border: 1px solid #234981;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product_item button:hover{
    border: 1px solid white;
    background-color: white;
    color: blue;
}

.product_item img:hover{
    transform: scale(1.2);
    transition-duration: .8s;
}    

.product_hover{
overflow: hidden;
}

/* End Product Item  */

/* Start Customer Review  */

.review{
    margin-top: 80px;
    text-align: center;
    margin-bottom: 20px;
}

.customer_review{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.customer_review img{
    width: 20%;
    float: left;
    border-radius: 50%;
    padding: 10px;
    padding-right: 50px;
}

.customer_review div{
    /* background-color: white; */
    border: 1px solid #234981 ;
    padding: 40px;
    border-radius: 20px;
   
}

.customer_review h1{
    font-size: 25px;
    color: #234981;
}

/* .star_rating{
    color: yellow;    မေးရန်
} */

/* End Customer Review  */


/* Start Service  */

.service{
    padding: 50px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    background-color: #234981;
}

.service_icon{
    float: left;
    padding: 10px 10px;
    /* color: #234981; */
   
}

.service_text h1{
    font-size: 25px;
    color: #234981;
}

/* End Service  */

/* Start Footer  */

.footer{
   
    padding: 20px 40px;
    
}

.footer_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;         /* responsive wrap */
  max-width: 1200px;
  margin: auto;
  /* border: 1px solid #234981; */
  padding: 20px 20px;
}

.footer_left h3{
  margin: 0 0 5px 0;
  /* color: #fff; */
}

.footer_left p{
  margin: 0;
  font-size: 14px;
  color: #aaa;
}

.footer_right a{
  color: #4da6ff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}

.footer-right a:hover{
  text-decoration: underline;
}

/* End Footer  */





