@font-face {
    font-family: "Oswald";
    src: url(../font/Oswald/Oswald-VariableFont_wght.ttf);
}
*{
    font-family: "Oswald";
}

/* Start Nav */

.logo_video{
    width: 150px;
    
    
}

.nav_item:hover{
    color: red;
}

.active{
    color: red !important;
}

/* End Nav  */



/* Start Carousel  */

.carousel_img{
    height: 65vh;
    object-fit: cover;
    filter: brightness(70%);
}

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
}

/* End Carousel  */



/* Start Service  */

.service_icon{
    width: 60px;
    height: 60px;
    margin: 0px auto;
}

/* End Service  */



/* Start Promotion  */
.title_underline{
    width: 80px;
    height: 4px;
}